@import "../index.scss";

.PersonList{
    border-collapse:collapse;
    td{ padding:4px 20px 4px 4px; }
    tr:nth-child(2n){ background-color:#eee; }
    tr:last-child td { padding-top:20px; background-color:#fff; }
    th {text-align:left; background-color: var(--primary-color-alt); color:#fff; padding:4px 20px 4px 4px;}
}

.AccessibleHide {
    position:absolute;
    left:-2000px;
}

#CreateButton {
    font-size: 1rem;
    padding:2px 40px;
    white-space: nowrap;
}

.err {
    background-color:#ffb2b2;
}
