@import "../index.scss";

.column-header {
  font-weight: bold;
}

.PersonList {
  display: grid;
  grid-template-rows: 1fr;
  border: 1px solid var(--secondary-color);
  & > .PersonListItem {
    padding: 18px 48px;
    &:not(:last-child) {
      border-bottom: 1px solid var(--secondary-color);
    }
  }
}

.PersonListItem {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
}
