@import "../index.scss";

.App {
    padding:20px 0 0 60px;


    #newPersonButton {
        font-size: 1rem;
        padding:.4rem 2rem .4rem 2rem;
        margin-top:2rem;
    }
    
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 16px;
        background-color: var(--primary-color-alt);
        & > a {
            color: var(--background);
        }
    }

    .primaryColor {
        color: var(--primary-color-alt);
    }

}

